:root { 
--gray_600:#797979; 
--gray_400:#bdbdbd; 
--blue_A400:#1877f2; 
--red_900:#9b0002; 
--gray_800:#4c4c4c; 
--blue_500:#1da1f2; 
--gray_801:#393939; 
--gray_900:#131313; 
--bluegray_100:#d0d0d0; 
--deep_purple_A200_7f:#754de87f; 
--bluegray_900:#323232; 
--black_900:#000000; 
--light_blue_A700:#0084ff; 
--deep_purple_A400:#7e1cfe; 
--deep_purple_A200:#754de8; 
--black_900_19:#00000019; 
--red_A701:#ff0302; 
--white_A701:#fefefe; 
--white_A700:#ffffff; 
--red_A700:#e90022; 
--black_900_26:#00000026; 
}